src/main/mule/osv2-store-retrieve-same-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="osv2-store-key-valueFlow" doc:id="992532f1-c328-4f21-b741-7a43fdca1078" >
		<http:listener doc:name="GET:/osv2Store" doc:id="6039ddf6-fcc0-41d7-adfd-7c7b3df3e206" config-ref="HTTP_Listener_config" path="/osv2Store"/>
		<logger level="INFO" doc:name="ENTRY" doc:id="c55d3580-0cce-4326-9894-5bc927969376" message="ENTRY: #[flow.name]"/>
		<os:store doc:name="Store" doc:id="2761fedb-8431-4ff4-951e-39211df90080" key="#[attributes.queryParams.key]" failOnNullValue="false" objectStore="OSV2">
			<os:value ><![CDATA[#[attributes.queryParams.value]]]></os:value>
		</os:store>
		<ee:transform doc:name="Transform Message" doc:id="fbda2059-2617-4329-a010-893069a5c78f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	key: attributes.queryParams.key,
	value: attributes.queryParams.value
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	<logger level="INFO" doc:name="payload" doc:id="1fcb5b6c-41d9-4bcd-a2d4-d79230c8f8bf" message="#[payload]"/>
	<logger level="INFO" doc:name="EXIT" doc:id="7200f1d3-4d6c-47fc-8605-c8d62b7c2986" message="EXIT: #[flow.name]"/>
	</flow>
	<flow name="osv2-retrieve-key-valueFlow" doc:id="7b50a97a-4a26-4f32-86bd-ab1fadc0bc4f" >
		<http:listener doc:name="GET:/osv2Retrieve" doc:id="00e2c3e5-2868-4865-be20-196993b7f0a9" config-ref="HTTP_Listener_config" path="/osv2Retrieve"/>
		<logger level="INFO" doc:name="ENTRY" doc:id="0e47fbb3-ac8b-4dec-a2af-23bd9db15c14" message="ENTRY: #[flow.name]"/>
		<os:retrieve-all doc:name="Retrieve all" doc:id="f8bded56-b7a1-4710-a14a-d8b9659a85dc" objectStore="OSV2"/>
		<ee:transform doc:name="Transform Message" doc:id="d3fa0f86-928b-453e-8b81-36581049f603" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="payload" doc:id="739c89c5-8432-470c-bcd2-2c561c614e8b" message="#[payload]"/>
		<logger level="INFO" doc:name="EXIT" doc:id="279afc07-258e-46a1-8217-45266f52c560" message="EXIT: #[flow.name]"/>
	</flow>
</mule>
